{% load i18n %}
{% load static %}

<!DOCTYPE html>
    <html>
    <head>
    <title>{% block title %}{% endblock %}</title>

    {% comment %} <link href="{% static "" %}" rel="stylesheet"> {% endcomment %}
    {% block extra_css %}{% endblock %}
    
    </head>
    <body>
        <div id="content">
        {% comment %} <input type="date"> {% endcomment %}
            {% block content %}
            {% endblock %}
        </div>
        
    </body>
    {% block extra_js %}
    {% endblock %}
    
</html>