{% extends "base.html" %}
{% load i18n %}
{% load get_name %}
{% load static %}
{% block title %}{% endblock %}

{% block extra_css %}
    <link href="{% static "jQcontextMenu/jquery.contextMenu.min.css" %}" rel="stylesheet">
{% endblock %}

{% block content %}
<script type="text/javascript" src="{% static "jquery-3.5.1.min.js" %}"></script>

<h1>{{my_blog}} </h1>
    {%for company in object_list  %}
        <h1><b>{{company.name}} </b></h1><br/>
        {%get company.pk as companies%}

        {%for shtat in companies%}
            <div class="context-menu-one item-{{shtat.ocoba.pk}}">
                {{shtat.name}} --
                {%if shtat.ocoba.name%}
                    {{shtat.ocoba.name}}
                {%else%}
                    vacant
                {%endif%}
                <br/>
                
            </div>
            <menu id="html5menu-{{shtat.ocoba.pk}}" style="display:none" class="showcase">
                <command label="rotate" icon="edit" onclick="getDocumentAjax({{shtat.ocoba.pk}})">
                <command label="resize" onclick="alert('resize{{shtat.ocoba.pk}}')"> 
                <command label="twitter" onclick="alert('twitter{{shtat.ocoba.pk}}')">
                <hr> 
                <command label="facebook" onclick="alert('facebook{{shtat.ocoba.pk}}')">
            S</menu>
            <script type="text/javascript">
               
                $(function(){
                    $.contextMenu({
                        selector: '.item-{{shtat.ocoba.pk}}', 
                        items: $.contextMenu.fromMenu($('#html5menu-{{shtat.ocoba.pk}}'))
                    });
                });      
            </script>
        {%endfor%}
    {% endfor %}
{% endblock %}

{% block extra_js %}
    <script type="text/javascript" src="{% static "jquery-3.5.1.min.js" %}"></script>
    <script type="text/javascript" src="{% static "jQcontextMenu/jquery.contextMenu.min.js" %}"></script>
    <script type="text/javascript" src="{% static "jQcontextMenu/jquery.ui.position.min.js" %}"></script>
    <script type="text/javascript" src="{% static "index/index.js" %}"></script>
{% endblock %}